<html>
<body>
<style>
.container {
  
  text-align:center;
}
.image {
  max-height: 100%;
  max-width: 100%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
</style>
     <div class="container">
      
<br>

<h2>Faux Suede Ankle Boots</h2>
<!--gallery-->

<div class="responsive">
  <div class="gallery">
      <img src="{{ url_for('static', filename='img/shoes/ankleboots.jpg') }}"
        width="600" height="400"></a>
    <div class="desc">
		{% for desc in ankleboots.desc %}
            	{{ desc }}
        	{% endfor %}
	</div>
  </div>
</div>
</body>
</html>
  