@import "compass/css3";

.collection{
 
  clear: both;
  position: relative;
  width: 580px;
  height: 200px;
  margin: 0 auto;
  margin-top: 60px;
  
  
  &:hover .card{
    z-index: 1;
    opacity: 1;
    width: 120px;
    height: 169px;
  }
  
  &:hover .card:hover{
    z-index: 10;
    -webkit-transform: rotate(0deg);
    width: 213px;
    height: 300px;
    top: -38px;
    opacity: 1;
  }
  
  .card {
    position: relative;
    float: left;
    
    width: 142px;
    height: 200px;
    
    -webkit-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.3s ease-out;
    
    &:nth-child(1){
      -webkit-transform: rotate(-6deg);
      top: 40px;
      left: 9px;
      z-index: 5;
    }
    &:nth-child(2){
      -webkit-transform: rotate(-2deg);
      left: -9px;
      z-index: 3;
    
    }
    &:nth-child(3){
      -webkit-transform: rotate(-5deg);
      top: 26px;
      left: -36px;
      z-index: 1;
    }
    &:nth-child(4){
      -webkit-transform: rotate(7deg);
      top: 15px;
      left: -46px;
      z-index: 3;
    }
  }
}


#footer {
	margin-top: 25px;
	clear: both;
	text-align: center;
	color: white;
	font-size:14px;
	background-color:#black;
	padding:20px;
}
